form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 50%;
}
label {
	text-align: left;
	margin: 10px 0 10px;
}
.input {
	display: block;
	width: 100%;
	border-radius: 0.2rem;
	padding: 0.5em 0.75em;
	font-size: 100%;
	border: 1px solid rgba(0, 0, 0, 0.25);
	color: #4d4d4d;
	margin: 0 !important;
	box-sizing: border-box;

	&:focus {
		border-color: rgba(0, 0, 0, 0.25);
	}
}
.button {
	margin-top: 10px;
	outline: 0;
	color: #ffffff;
	background: #006dff;
	padding: 0.375em 0.75em;
	line-height: 1.5;
	border: transparent;
	border-radius: 0.25rem;
	cursor: pointer;
	font-size: 16px;

	&:focus {
		box-shadow: 0 0 0 0.2em rgba(0, 109, 255, 0.4);
	}

	&[disabled],
	&[aria-disabled='true'] {
		cursor: auto;
		opacity: 0.5;
	}

	&:not([disabled]),
	&:not([aria-disabled='true']) {
		&:hover {
			color: #ffffff;
			background-color: #0062e6;
		}
		&:active,
		&[data-active='true'] {
			color: #ffffff;
			background-color: #004eb8;
		}
	}
}
